*
{

    margin: 0;

    padding: 0;

}

html{

    font-size: 12px;

}

@media(max-width: 600px){

    html{

        font-size: 10px;

    }

}

@media(min-width: 1900px){

    html{

        font-size: 16px;

    }

}

header{

    position: absolute;

    float:left;

    vertical-align:middle;

    clear:both;

    height: 8rem;

    background: rgb(255, 204, 255);

    width: 100%;

    font-family: Arial;

}

.logo{

    position:absolute;

    top: 1rem;

    left: 14rem;

    width: 6rem;

    height: 6rem;

}
.pageName{

    text-align: center;

    font-size: 6rem;

    color: rgb(102, 102, 102);

    letter-spacing: 0.9rem;

    font-weight: 550;

    margin: 0.8rem;

}

.buttonAddPost{

    border-radius: 60%;

    border-color: rgb(89, 89, 89);

    width: 5rem;

    height: 5rem;

    background-color: rgb(64, 64, 64);

    position: absolute;

    top: 2rem;

    right: 11rem;

}

.buttonAddPost img{

    position: relative;

    width: 4.5rem;

    height: 4.5rem;

    border-radius: 60%;

}

.profile{

    position: relative;

    top: 10rem;

    left: 8rem;

    width: 15rem;

    height: 15rem;

    background: rgb(255, 204, 255);

    border-radius: 1rem;

}

.profile img{

    position:relative;

    margin-top: 0.7rem;

    margin-left: 0.7rem;

    width: 5rem;

    height: 6rem;

}

.userNikname{
	position:relative;
	
    text-align: right;

    right: 1rem;

    bottom: 6rem;

    font-size: 1rem;

    color: rgba(0, 0, 0, 1);

    font-family: Arial;
}

.userName{

    position:relative;

    text-align: left;

    left: 6.2rem;

    bottom: 5.6rem;

    font-size: 1rem;

    color: rgba(0, 0, 0, 1);

    font-family: Arial;

} 

.buttonLogout{

    position: absolute;

    text-align: center;

    top: 10rem;

    left: 4rem;

    font-size: 1.2rem;

    width: 8rem;

    height: 4rem;

    border-color: rgb(89, 89, 89);

    background-color: rgb(255, 255, 255);

    color: rgb(64, 64, 64);

}

.buttonLogout:hover {

  background-color: rgb(255, 102, 153);
}

.filter{

    position: relative;

    bottom: 5rem;

    left: 100rem;

    width: 15rem;

    height: 23rem;

    background: rgb(255, 204, 255);

    border-radius: 1rem;

}

.filterHead{

    position: relative;

    padding-top: 1rem;

    text-align: center;

    font-size: 1.6rem;

    color: rgb(52, 48, 48);

    font-family: Arial;

}

.filterUsername{

    position: relative;

    text-align: left;

    margin-left: 0.8rem;

    margin-top: 0.8rem;

    margin-bottom: 0.5rem;

    font-size: 1.2rem;

    color: rgb(50, 30, 38);

    font-family: Arial;

}

.text-fild{

    position: relative;

    margin-top: 0.2rem;

    font-size: 1.2rem;

    color: rgb(145, 135, 149);

    background-color: white;

    font-family: Arial;

    resize: none;

    width: 12rem;

    height: 3rem;

    border: none;

}

.filterDate{

    text-align: left;

    padding-left: 0.9rem;

    padding-top: 0.1rem;

    font-size: 1.2rem;

    color: rgb(50, 30, 38);

    font-family: Arial;
    margin-bottom: 0.5rem;

}

.from{

    text-align: left;

    padding-left: 0.8rem;

    margin-bottom: 0.3rem;

    font-size: 0.9rem;

    color: rgb(50, 30, 38);

    font-family: Arial;

}

.to{

    text-align: left;

    padding-left: 0.8rem;

    font-size: 0.9rem;

    color: rgb(50, 30, 38);

    font-family: Arial;

}

.date{

    position: absolute;

    text-align: right;

    right: 0.75rem;

    font-size: 0.7rem;

    color: rgb(146, 143, 143);

    background-color: white;

    font-family: Arial;

    width: 60%;

    resize: none;

    height: 1rem;

    border: none;

    border-radius: 1rem;

}
.filterHashtags{

    position: relative;

    text-align: left;

    margin-left: 0.7rem;

    margin-top: 0.7rem;

    font-size: 1.1rem;

    color: rgb(50, 30, 38);

    font-family: Arial;

}




.buttonFind{

    position: relative;

    top: 1rem;

    left: 5rem;

    text-align: center;

	font-size:1rem;

    width: 6rem;

    height: 3rem;

    font-family: Arial;

    color: rgb(50, 30, 38);

    background-color: white;

    border-color: rgb(89, 89, 89);

}

main{

    position:absolute;

    top: 8rem;

    bottom: 7rem;

    left: 25rem;

    width: calc(100% - 25rem);

    overflow: auto;

}




.post{

    position: relative;

    margin: 1rem;

    border-radius: 0.7rem;

    width: 65%;

    background: rgb(255, 230, 242);  

}

.Userphoto{

    position: relative;

    margin-left: 0.5rem;

    margin-top: 0.5rem;

    width: 4rem;

    height: 4rem;

    border-radius: 50%;

}

.name{

    display: inline;

    position: absolute;

    left: 5.5rem;

    top: 1rem;

    font-size: 1.5rem;

    color: rgb(105, 29, 107);

    font-family: Arial;

}

.data{

    display: inline;

    position: absolute;

    top: 1.9rem;

    text-align: right;

    right: 1rem;

    font-size: 1rem;

    color: rgb(105, 29, 107);

    font-family: Arial;

}

.twit{

    position: relative;

    top: 0.5rem;

    left: 1rem;

    width: 90%;

    height: auto;

    font-size: 1.5rem;

    color:  black;

    background: unset;

    font-family: Arial;

}

.addPhoto{

    position: relative;

    margin-left: 2%;

    margin-top: 1%;

    margin-bottom: 2%;

    width: 35%;

    height: 25%;

}

.tag{

    position: relative;

    padding-top: 1rem;

    padding-bottom: 2.5rem;

    left: 1rem;

    font-size: 1.3rem;

    width: 90%;

    height: auto;

    color: rgb(105, 29, 107);

    background-color: unset;

    font-family: Arial;

}

.buttons{

    display: inline-block;

}

.buttonLike{

    position: absolute; 

    bottom: 1rem;

    left: 90%;

    right: 5%;

    border-radius: 0.5rem;

    width: 3rem;

    background-color: white;

}

.buttonLike img{

    position: relative;

    width: 100%;

    border-radius: 0.5rem;

}

.buttonEdit{

    position: absolute;

    bottom: 1rem;

    left: 85%;

    border-radius: 0.5rem;

    width: 2.7rem;

    background-color: white;

}

.buttonEdit img{

    position: relative;

    width: 100%;

    border-radius: 50%;

}

.buttonDelete{

    position: absolute; 

    bottom: 1rem;

    left: 80%;

    border-radius: 0.4rem;

    width: 3rem;

    background-color: white;

}

.buttonDelete img{

    position: relative;

    width: 100%;

    border-radius: 0.4rem;

}




.buttonMore{

    position: relative;

    margin-top: 0.5rem;

    margin-bottom: 1.2rem;

    left: 28%;

    text-align: center;

    font-size:1.3rem;

    width: 10rem;

    height: 3rem;

    font-family: Arial;

    color: rgb(89, 89, 89);

    background-color: rgb(255, 102, 153);

    border-color: rgb(89, 89, 89);

}

footer{

    position: absolute;

    background: rgb(255, 204, 255);

    color: rgb(89, 89, 89);

    width: 100%;

    bottom: 0;

    float: left;

    vertical-align: middle;

    clear: both;

    height: 6rem;

    font-family: Arial;

}

.TN{

    position:absolute;

    top: 3rem;

    left: 12rem;

    font-size: 1.2rem;

}

.ME{

    position: absolute;

    top: 3rem;

    left: 26rem;

    font-size:1.2rem;

}

.DT{

    text-align: right;

    right: 11rem;

    top: 3rem;

    position: absolute;

    font-size: 1rem;

}